{
  "description": "Enable S3 bucket versioning and logging.",
  "role": "",
  "timeout": 300,
  "hooks": {
    "build": "pip install -r requirements.txt -t ."
  },
  "environment": {
    "TARGET_us_east_1": "",
    "TARGET_ap_southeast_1": "",
    "TARGET_BUCKET":"",
    "SOURCE_BUCKETS":"",
    "IGNORE_BUCKETS":""
  }
}
